/*Null style*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*******************************************************************/
/*Wrapper*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
/*Main grid*/
body {
    font-family: Poppins;
    background-color: #F5F5F5;
}
.container {
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0px auto;
}
/***********************************************************************/
/*nav-menu*/
.header {
    margin: 50px 0px 0px 0px;
}
.menu__title {
    font-size: 20px;
    font-weight: 400;
    color: #393E46;
    line-height: 40px;
}
.menu__list {
    margin: 0px 0px 0px 200px;
}
.menu__list_item {
    font-size: 20px;
    color: #FF9F29;
    font-weight: 400;
    line-height: 40px;
}
.menu__location {
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 400;
    line-height: 40px;
    color: #393E46;
}
/*section greeting*/
.greeting {
    margin: 100px 0px 0px 0px;
}
.greeting__row {
    display: flex;
    align-items:flex-start
}
.greeting__column {
    order: 0
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.column__text {
    font-size: 30px;
    color: #393E46;
    line-height: 50px;
    font-weight: 500;

}
.column__title {
    font-size: 45px;
    color: #393E46;
    line-height: 68px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px 0px;
}
.column__btn {
    max-width: 200px;  
    /*border: 1px solid #FF9F29;*/
    margin: 70px 0px 0px 0px;
    /*Customize the btn*/
    position: relative;
}
/**************************************************************/
/*Create motion elements*/
.column__btn::before,
.column__btn::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid #393E46;
  top: -10px;
  left: 50%;
  /*из-за того, что фон кнопки сделан через псевдоэлемент с z-index выше, чем у рамки*/
  /*половина кнопки скрывается за фоном*/
  z-index: 1;
  margin-left: -40px;
  /***********************************************************/
  /*add an animation for hover*/
  transition: all 0.8s ease 0s;
}
/*Settings motion frames using keyframes*/
.column__btn::before {
    animation: rotate 20s infinite linear;
}
.column__btn::after {
  animation: rotate 25s infinite linear;
}
/*Customize the btn*/
.column__btn_text {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   border-radius: 10px;
   font-size: 20px;
   text-transform: uppercase;
   color: #393E46;
   line-height: 30px;
   font-weight: 500;
   letter-spacing: 3px;
   transition: all 1s ease 0s;
   top: 0;
   overflow: hidden;
}
/*Create a background*/
.column__btn_text::before,
.column__btn_text::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #FF9F29;
    transition: all 0.8s ease 0s;
}
.column__btn_text::before {
    left: 0;
    /*z-index to hidden part of motion frames*/
    z-index: 2;
}
.column__btn_text::after {
    right: 0;
}
.column__btn_text span {
    /*z-index for showing text*/
    position: relative;
    z-index: 2;
}
/*----------------------------------------------------------*/
/*Add an event when it is hovered*/
.column__btn:hover::before,
.column__btn:hover::after {
    left: 100%;
    opacity: 0;
}
.column__btn:hover .column__btn_text {
    top: -8px;
    color: #fff;
    transition: all 0.5s ease 0.2s;
    box-shadow: 0 5px 0px 0 #393E46;
}
.column__btn:hover .column__btn_text::before,
.column__btn:hover .column__btn_text::after {
    background-color:/* #FF616D*/#D83A56;
}
.column__btn:hover .column__btn_text::before {
    width: 100%;
}
/*----------------------------------------------------*/
/*Reaction to click*/
.column__btn:active .column__btn_text {
  top: -4px;
  color: #fff;
  transition: all 0.1s ease 0s;
  box-shadow: 0 2px 0px 0 #393E46;
}
/*-----------------------------------------------*/
/*Create keyframes for motions frames*/
/********************************************/
/*анимация вращения рамок*/
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/***************************************************/




.greeting__text {
    margin: 0px 30px;
    order: 0
}
.paragraf {
    font-size: 20px;
    font-weight: 400;
    color: #393E46;
    line-height: 40px;
}
.greeting__img {
    margin-bottom: 0px;
    order: 1; /* Order the last element to be displayed after the first two */
    margin-top: auto;
    border-radius: 10px;
}